[submodule "packages/laravel-catalog"]
	path = packages/laravel-catalog
	url = https://github.com/Particle-Academy/laravel-catalog.git
[submodule "packages/laravel-fms"]
	path = packages/laravel-fms
	url = https://github.com/Particle-Academy/laravel-feature-management-system.git
[submodule "packages/fancy-flux"]
	path = packages/fancy-flux
	url = https://github.com/wishborn/fancy-flux.git
[submodule "packages/react-fancy"]
	path = packages/react-fancy
	url = https://github.com/Particle-Academy/react-fancy.git
[submodule "packages/fancy-echarts"]
	path = packages/fancy-echarts
	url = https://github.com/Particle-Academy/fancy-echarts.git
[submodule "packages/fancy-code"]
	path = packages/fancy-code
	url = git@github.com:Particle-Academy/fancy-code.git
[submodule "packages/fancy-sheets"]
	path = packages/fancy-sheets
	url = git@github.com:Particle-Academy/fancy-sheets.git
[submodule "packages/fancy-3d"]
	path = packages/fancy-3d
	url = git@github.com:Particle-Academy/fancy-3d.git
[submodule "packages/fancy-screens"]
	path = packages/fancy-screens
	url = git@github.com:Particle-Academy/fancy-screens.git
[submodule "packages/fancy-inertia"]
	path = packages/fancy-inertia
	url = git@github.com:Particle-Academy/fancy-inertia.git
[submodule "packages/holy-sheet"]
	path = packages/holy-sheet
	url = git@github.com:Particle-Academy/holy-sheet.git
[submodule "packages/fancy-whiteboard"]
	path = packages/fancy-whiteboard
	url = git@github.com:Particle-Academy/fancy-whiteboard.git
[submodule "packages/agent-integrations"]
	path = packages/agent-integrations
	url = git@github.com:Particle-Academy/agent-integrations.git
[submodule "packages/fancy-flow"]
	path = packages/fancy-flow
	url = git@github.com:Particle-Academy/fancy-flow.git
[submodule "packages/docs-mcp"]
	path = packages/docs-mcp
	url = git@github.com:Particle-Academy/docs-mcp.git
